.role-btn {
  padding: 30px 60px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.role-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}